#
# .gitignore file for Xyce project
#

# Ignore Mac OS X artifact files.
build
**/._*
**/.DS_Store
*~
build
.*.swp
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.sub
depcomp
install-sh
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
configure
compile
fontconfig
Xyce_config.h.in
src/DeviceModelPKG/SandiaModels
src/DeviceModelPKG/Xyce_NonFree
doc/SandiaModelsDocs
doc/Xyce_Docs
doc/**/*.aux
doc/**/*.bbl
doc/**/*.blg
doc/**/*.fdb*
doc/**/*.fls
doc/**/*.idx
doc/**/*.ilg
doc/**/*.ind
doc/**/*.lo[fgt]
doc/**/*.toc
doc/**/*.out
doc/Reference_Guide/Xyce_RG.pdf
doc/Users_Guide/Xyce_UG.pdf
doc/Release_Notes/Release_Notes*/*.aux
doc/Release_Notes/Release_Notes*/*.log
doc/Release_Notes/Release_Notes*/*.toc
doc/Release_Notes/Release_Notes*/*.out
doc/Release_Notes/Release_Notes*/Release_Notes*.pdf
doc/doxygen/html
doc/doxygen/tags
utils/ADMS/**/.adms.implicit.xml
utils/ADMS/**/.*.adms
utils/ADMS/**/.interface.xml
utils/ADMS/**/constants.vams
utils/ADMS/**/constants.h
utils/ADMS/**/disciplines.vams
utils/ADMS/**/disciplines.h
utils/ADMS/**/discipline.h
utils/ADMS/**/N_DEV_ADMS*.[Ch]
utils/ADMS/**/N_DEV_ADMS*.orig
utils/ADMS/**/N_DEV_ADMS*.rej
utils/ADMS/**/N_DEV_ADMS*.html
utils/ADMS/**/*.tex
!utils/ADMS/**/N_DEV_ADMS*_bootstrap.C
utils/ADMS/**/.#*
utils/ADMS/**/emacs*.core
